.category-filter {
  background-color: lightgrey;
  border: 0;
  font-size: 0.65rem;
  margin: 0.3rem 0.4rem;
  padding: 0.5rem;
  width: 105px;
}

.category-filter:focus {
  background-color: gray;
  color: white;
  outline: none;
  transform: scale(1.2);
}
