.list-container {
  background-color: rgb(229, 229, 229);
  margin: auto;
  max-width: 90vw;
  padding: 0.5em;
}

.item-list {
  align-items: center;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  display: flex;
  outline:none;
  overflow: hidden;
  width: 100%;
}

.ingredients-item {
  line-height: 0.2em;
}

.ingredients-item-checked {
  line-height: 0.2em;
  text-decoration: line-through;
}
