.explorer-by-button:nth-child(1),
.explorer-by-button:nth-child(2) {
  margin-top: 30px;
}

.explorer-by-button {
  background: white;
  border: none;
  border-radius: 6px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 24px;
  height: 82px;
  left: 15px;
  margin: 12px 9px;
  top: 81px;
  width: 161px;
}

.explorer-by-button:focus {
  background: rgb(231, 229, 229);
  outline: none;
}
