.recipes-container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: space-around;
}

.category-filter-container {
}

.category-filter {
  background-color: lightgrey;
  border: 0;
  font-size: 0.73rem;
  margin: 0.2rem 0.3rem;
  padding: 0.5rem;
  width: 30%;
}

.category-filter:focus {
  background-color: gray;
  color: white;
  outline: none;
}

.card-body {
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 5px 7px gray;
  display: flex;
  flex-direction: column;
  margin: 1.2rem 0;
  overflow: hidden;
  width: 43%;
}

.card-body img {
  width: 100%;
}

.card-body span {
  padding: 3px;
}
